/* @media (min-width:576px) */

.header-img {
    background-image: url('../img/wolf-1341881_1280.jpg');
}

.first-product {
    background-image: url('../img/children-593313_1280.jpg');
}

.second-product {
    background-image: url('../img/keyboard-70506_1280.jpg');
}

.third-product {
    background-image: url('../img/apple-1851464_1280.jpg');
}

.fourth-product {
    background-image: url('../img/laptop-1483974_1280.jpg');
}

footer {
    font-size: 16px;
}